%h1
  Editing spot
- form_for(@spot) do |f|
= f.error_messages
%div
  = f.label :map_id
  = f.text_field :map_id
%div
  = f.label :name
  = f.text_field :name
%div
  = f.label :permalink
  = f.text_field :permalink
%div
  = f.label :description
  = f.text_area :description
%div
  = f.label :lat
  = f.text_field :lat
%div
  = f.label :long
  = f.text_field :long
%div
  = f.label :flickr_url
  = f.text_field :flickr_url
%div
  = f.submit 'Update'
- end
= link_to 'Show', @spot
|
= link_to 'Back', spots_path
