- form_for(@spot) do |f|
  = f.error_messages
  
  %p http://www.flickr.com/photos/sikelianos/3374227044/in/photostream/
  
  %div
    = f.label :flickr_url
    = f.text_field :flickr_url, :class => "text"
  
  %div
    = f.label :name
    = f.text_field :name, :class => "text"
  
  %div
    = f.label :description
    = f.text_area :description, :class => "text"
  
  %div
    = f.label :lat, "Latitude"
    = f.text_field :lat, :class => "text"
  
  %div
    = f.label :long, "Longitude"
    = f.text_field :long, :class => "text"
    
  %div
    = f.submit 'Create'
    = link_to 'Back', spots_path
