%p http://www.flickr.com/photos/sikelianos/3374331008/
%p http://www.flickr.com/photos/sikelianos/3374227044/
%p http://www.flickr.com/photos/sikelianos/3371303757/
%p http://www.flickr.com/photos/sikelianos/3371094167/
%p http://www.flickr.com/photos/sikelianos/3371662570/

- form_remote_tag(:url => {:controller=>"spots", :action => "fetch_flickr_photo_info"}, :html => {:id => "temp"}) do
  %div
    = label_tag :url, "Flickr Photo URL"
    = text_field_tag :url, "", :class => "text"
    
  %div= submit_tag "fetch"


- form_for([@map, @spot]) do |f|
  = f.error_messages
  
  %div
    = f.label :name
    = f.text_field :name, :class => "text title"
  
  %div
    = f.label :description
    = f.text_area :description, :class => "text"
  
  %div
    = f.label :lat, "Latitude"
    = f.text_field :lat, :class => "text"
  
  %div
    = f.label :long, "Longitude"
    = f.text_field :long, :class => "text"
    
  %div
    = f.hidden_field :flickr_photo_id
    = f.hidden_field :flickr_user
    = f.hidden_field :flickr_square_url
    = f.submit 'Save this Spot'