%div
  %b
    Name:
  = h @map.name
%div
  %b
    Permalink:
  = h @map.permalink
%div
  %b
    Description:
  = h @map.description
= link_to 'Edit', edit_map_path(@map)
|
= link_to 'Back', maps_path
